{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "useTabs": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/main.css",
  "tailwindFunctions": ["cn", "cva"]
}
